$blue: #05386b;
$blueTransition: #074b8f;
$green: #379683;
$lightGreen: #5cdb95;
$lighterGreen: #8ee4af;
$lightest: #edf5e1;
$googleButton: #4f7ff0;
$googleTransition: #4372e1;
$githubButton: #000;
$facebookButton: #3996e2;
$error: #b60000;

.lm-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.get-started-timebase {
  font-size: 2.5rem;
  margin: 0;
}

.time-base {
  color: $blue;
}

.intro-description {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 10px 0;
}

.login-fail {
  font-size: 0.9rem;
  font-weight: 500;
  color: $error;
}

.login-create-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  max-width: 320px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-container {
  margin: 25px 15px 20px 15px;
}

.admin-container {
  margin: 5px 15px 35px 15px;
}

.sign-in-create,
.create-admin {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.google-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 5px;
  border: 2px solid $googleButton;
  transition: 0.3s;
}

.facebook-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid $facebookButton;
}

.github-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 5px;
  border: none;
  border: 2px solid $githubButton;
}

.google-logo-container {
  background-color: #f000;
  width: 55px;
}

.facebook-logo-container {
  width: 55px;
  height: 100%;
  background-color: $facebookButton;
}

.github-logo-container {
  width: 55px;
  height: 100%;
  background-color: #000;
}

.google-logo-button,
.facebook-logo-button {
  margin-top: 3px;
}

.github-logo-button {
  margin-top: 7px;
}

.google-login-button {
  border: none;
  background: $googleButton;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.facebook-login-button {
  border: none;
  background: $facebookButton;
  height: 100%;
  width: 100%;
}

.github-login-button {
  border: none;
  background: $githubButton;
  height: 100%;
  width: 100%;
  color: #fff;
}

.google-button-container:hover {
  border: 2px solid $googleTransition;
  cursor: pointer;
  .google-login-button {
    background: $googleTransition;
    cursor: pointer;
  }
}

#or {
  position: relative;
  width: 300px;
  height: 50px;

  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 130px;
  height: 1px;

  top: 24px;

  background-color: #aaa;

  content: "";
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}

.coming-soon {
  margin: 35px 0 5px 0;
}

.more-ways {
  font-weight: 400;
  margin: 0 0 15px 0;
}

@media (max-width: 500px) {
  .lm-container {
    margin-top: 50px;
  }
}
