$blue: #05386b;
$blueTransition: #074b8f;
$green: #379683;
$lightGreen: #5cdb95;
$lighterGreen: #8ee4af;
$error: #b60000;

.popup {
  opacity: 0.2;
}

.new-job-container {
  text-align: center;
  h1 {
    color: $blue;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      font-size: 1rem;
      font-weight: 600;
    }
    input {
      height: 20px;
      width: 195px;
      margin: 5px 10px 10px 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid $blue;
      &:focus {
        outline: solid $blue;
      }
    }
    textarea {
      width: 195px;
      height: 80px;
      border-radius: 5px;
      padding: 5px;
      margin-top: 10px;
      border: 1px solid $blue;
      &:focus {
        outline: solid $blue;
      }
    }
    .notes {
      padding-bottom: 80px;
      word-wrap: break-word;
      word-break: break-all;
    }
    select {
      height: 35px;
      width: 204px;
      margin: 10px;
      border-radius: 5px;
      border: 1px solid $blue;
      &:focus {
        outline: none;
        border: 3px solid $blue;
      }
    }
  }
  button {
    height: 40px;
    width: 200px;
    background-color: $blue;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-top: 30px;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $blueTransition;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}
