$blue: #05386b;
$green: #379683;
$lightGreen: #5cdb95;
$lighterGreen: #8ee4af;
$lightest: #edf5e1;

.h-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.brand-link {
  font-size: 1.5rem;
  margin-right: 5px;
  text-decoration: none;
  color: $blue;
  font-weight: 600;
}

.h-brand-logo {
  margin: 0;
  padding: 0;
}

.h-login {
  text-transform: uppercase;
  margin-right: 30px;
  border: none;
  background: none;
  color: $blue;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    color: $green;
  }
}

.h-sign-up {
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  border: none;
  background: none;
  border-radius: 5px;
  color: $blue;
  border: 1px solid $green;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $green;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
