$blue: #05386b;

.employee-profile-time-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  div {
    white-space: nowrap;
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    margin-left: 20px;
  }
  th {
    min-width: 120px;
    border: 1px solid black;
  }
  th:nth-child(5) {
    outline: none;
  }
  tr {
    height: 35px;
  }
  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    button {
      background: none;
      border: none;
      padding: 10px;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        background-color: $blue;
        color: #fff;
      }
    }
  }
  td:nth-child(1) {
    border-left: 1px solid black;
  }
  td:nth-child(5) {
    border-right: 1px solid black;
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
  }
  td:nth-child(6) {
    border: none;
  }
}

@media (max-width: 500px) {
  .employee-profile-time-container {
    table {
      margin-left: 0;
    }
  }
}
