$blue: #05386b;
$blueTransition: #074b8f;
$green: #379683;
$lightGreen: #5cdb95;
$lighterGreen: #8ee4af;
$lightest: #edf5e1;
$googleButton: #4f7ff0;
$googleTransition: #4372e1;

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .brand-name {
    font-size: 1.5rem;
    padding-top: 7px;
    margin: 15px 0 0 0;
    color: $blue;
  }

  .list {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .items a {
    margin-left: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: $blue;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      color: $green;
    }
  }

  .items {
    margin-right: 20px;
  }

  .nav-btn {
    display: none;
    margin-top: 23px;
    z-index: 101;
    right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main-nav-container {
    display: block;
    .brand-container {
      display: flex;
      justify-content: space-between;
    }

    .nav-btn {
      display: block;
    }

    nav {
      height: auto;
      justify-content: center;
      display: block;
    }

    .list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $blue;
      width: auto;
      z-index: 100;
    }

    .items {
      width: 100%;
      text-align: center;

      margin-bottom: 30px;
    }
  }
}
